<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymer/polymer-element.html">
<!-- <link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html"> -->
<link rel="import" href="poly2-t2-comp-styles.html">
<!--
`<poly2-t2-comp>` description.

Example:

```html
<poly2-t2-comp></poly2-t2-comp>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --poly2-t2-comp  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="poly2-t2-comp">
<!-- <style include="poly2-t2-comp-styles poly2-t2-comp-shared-styles"></style> -->
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>
    <div>[[disco]]</div>
    <slot></slot>
  </template>
  <script src="poly2-t2-comp.js"></script>
</dom-module>
