<link rel="import" href="../../bower_components/polymer/lib/elements/custom-style.html">

<custom-style>
  <style media="screen">
    body {
      margin: 0;
    }
    @media (max-width: 768px) {
      *, *:before, *:after {
        -webkit-tap-highlight-color: transparent;
      }
    }
  </style>
</custom-style>
